/* estilo y diseño del cuerpo y margen de la pagina */
/* Presentación */
.presentacion {
    display: flex; /* Habilita el diseño flexible (alineación horizontal) */
    align-items: center; /* Alinea los ítems verticalmente al centro */
    padding: 40px 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    border-radius: 8px;
    max-width: 900px;
    margin: 30px auto; /* Centra la sección en la página */
}

.foto-perfil {
    width: 80px; /* Tamaño de la foto */
    height: 50px;
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
    border-radius: 50%; /* Hace la imagen circular */
    margin-right: 30px; /* Espacio a la derecha de la foto */
    border: 5px solid #ffd700; /* Borde de color destacado */
}

.texto-descripcion h2 {
    color: #333;
    margin-top: 0;
}

.texto-descripcion p {
    line-height: 1.6;
    color: #555;
}

/* Estilo para la línea */
hr {
    border: 0;
    height: 1px;
    background-color: #F0E68C;
    margin: 40px auto;
    width: 80%;
}
body {
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0;
    background-color: #f4f4f4;
}

/* Barra de Navegación */
.barra-principal {
    background-color: #800000; /* Fondo oscuro para la barra */
    padding: 10px 0;
}

/* Quitamos los puntos de la lista */
.barra-principal ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center; /* Centra los enlaces */
}

/* Hacemos que los elementos de la lista se muestren en orden */
.barra-principal ul li {
    display: inline;
    margin: 0 15px; /* Espacio entre los "casilleros" */
}

/* Estilo de los enlace o inicios*/
.barra-principal ul li a {
    color: white; /* Color del texto */
    text-decoration: none; 
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px; /* Bordes redondeados para simular un "casillero" */
    transition: background-color 0.3s; /* Transición suave al pasar el ratón */
}

/* Efecto al pasar el ratón sobre un enlace */
.barra-principal ul li a:hover {
    background-color: #555; /* Cambia el color de fondo */
    color: #DEB887; /* Un color de texto destacado */
}
body{
    cursos: url("C:\Users\silva\Downloads\estrella.jpg"), pointer;
    cursor:pointer;
    }
a:hover{
    cursor: url ("C:\Users\silva\Downloads\estrella.jpg"), pointer;
    }
/* Estilo para el contenido principal */
main {
    padding: 20px;
    text-align: center;
}

/* Estilo para el pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed; 
    bottom: 0;
    width: 100%;
}










